nav {
    background-color: darkblue;
    display: block;
    padding: 10px;
}

main {
    width: 840px;
    margin: 10px;
    border: 10px;
    padding: 10px;
    background-color: black;
    color: blue;
}